.FlexContainer
{
  display: flex;
  justify-content: space-between;
}

@keyframes glowing-header {
  0%
  {
    box-shadow: 0px 0px 7px 4px rgba(52,248,71,0.65),
              inset 0px 0px 7px 4px rgba(52,248,71,0.65);
  }
  50%
  {
    box-shadow: 0px 0px 12px 7px rgba(52,248,71,0.65),
              inset 0px 0px 12px 7px rgba(52,248,71,0.65);
  }
  100%
  {
    box-shadow: 0px 0px 7px 4px rgba(52,248,71,0.65),
              inset 0px 0px 7px 4px rgba(52,248,71,0.65);
  }
}

.ItemReturnHeaderMain
{
  display: inline-flex;
  padding: 4px;
  margin: 20px 0;
  border-color: #f1f1f1;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 5px rgba(52,248,71,0.65),
              inset 0px 0px 8px 5px rgba(52,248,71,0.65);
  animation-name: glowing-header;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.ItemReturnHeaderMain a
{
  display: inline-flex;
  align-items: center;
}

.ItemReturnHeaderMain img
{
  width: 50px;
  margin: 8px 12px;
}

.ItemReturnHeaderMain a p
{
  margin: 4px 15px;
  text-decoration: none;
}

.ItemLanguage
{
  padding: 4px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px)
{
  .ItemLanguage
  {
    flex-direction: column;
    justify-content: center;
  }
}

.ItemLanguage select
{
  background-color: #0C0C0C;
  color: #f1f1f1;
  border-style: none;
}