a
{
  text-decoration: none;
  margin: 10px 0;
}

a:active
{
  color: #000000;
}

a:visited
{
  color: #000000;
}

.Project
{
  background-color: #E6E6E6;
  width: 24vw;
  min-width: 280px;
  text-align: center;
  margin: 10px 6px;
  border-radius: 20px;
  border-style: solid;
  border-color: #354806;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  transition: border-color 0.5s;
  height: 100%;
}

.Project:hover
{
  border-color: #34F847;
  transition: border-color 0.5s;
}

.Project-Image
{
  width: 100%;
  margin: 10px 0;
}

.Project-Image img
{
  width: 250px;
  border-radius: 10px;
}

.text
{
  margin: 4px 15px;
  align-items: center;
  text-decoration: none;
}

.Project-Title
{
  font-weight: bold;
}

.Project-Techs
{
  font-family: monospace;
}

.Project-Description
{
  line-height: 24px;
  text-align: left;
}