.Tech-Chapter-Container
{
  background-color: #E6E6E6;
  margin: 10px 0;
  border-radius: 20px;
  border-style: solid;
  border-color: #354806;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.Tech-Content
{
  margin: 20px;
}

.Tech-Content p
{
  font-weight: bold;
}