.Section-Title
{
  background-color: #E6E6E6;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: #354806;
  vertical-align: middle;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}