body
{
  margin: 0 8vw;
  background-image: url('./assets/images/background.jpg');
  background-position: center;
}

.MyProjects, .LearningProjects, .ProjectsGetToKnowMe, .RecommendedResources
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}